<% provide :title, t(".home_title") %>

<div class="center jumbotron">
  <h1><%= t ".heading" %></h1>

  <p> 
    <%= t ".description_title" %>
    <%= link_to t("ruby_on_rails_home"),  Settings.links.rails_tutorial.home_page %>
    <%= t ".description_detail" %>
  </p>

  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"), "https://rubyonrails.org/" %>
